table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    border: none; 
}
thead th {
    background: grey;
    color: white;
}
tbody th {
    background: lightgrey;
    color: white;
}
th, td {
    border: 1px solid black;
    padding: 5px;
}
caption {
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-align: center;
}

img {
    width: 600px; 
    height: 400px; 
    object-fit: cover; 
    border-radius: 10px; 
}

.center-table {
    text-align: center; 
}

tr:first-child td, tr:first-child th {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

tr:last-child td, tr:last-child th {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

td {
    background-color: #ccffcc; 
    border: none; 
    padding: 10px;
}

th {
    border: none; 
    padding: 10px; 
}
